body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #000000, #cfbd97);
}

.navbar {
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #000;
}

.navbar a {
    color: #cfbd97;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
    align-items: center;
}

.form-container {
    background-color: #cfbd97;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
}

.form-container input {
    background-color: #f5f5dc;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

.form-container button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #333333;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text-blue-500 {
    color: #000000 !important;
}

.container-fluid {
    margin-top: 10%;
}