body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, black, #cfbd97);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 56px;
}

.form-section {
  flex: 1;
  padding: 0;
  border-radius: 0px;
}

.title {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #1a1a1a;
  margin-bottom: 1rem;
}

.form-container {
  background-color: #cfbd97;
  padding: 2rem;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border 0.3s ease;
}

.input-field:focus {
  border-color: #cfbd97;
  box-shadow: 0 0 5px rgba(210, 180, 140, 0.5);
}

.forgot-password {
  font-size: 0.875rem;
  color: gray;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #333;
}

.signup-link {
  font-size: 0.875rem;
  color: gray;
}

.signup-text {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.signup-text:hover {
  text-decoration: underline;
}